[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
platformdirs = "*"
json5 = "*"
pick = "*"
rich = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.12"
